/* styles.css */

/* Problema: No se define un esquema de colores claro */
body {
    font-family: Arial, sans-serif;
    /* background-color: #1F7A8C;*/
    background-image: linear-gradient(#053C5E, #1F7A8C,#053C5E);
    /* Problema: Uso de un color que puede ser demasiado claro */
    ;
    /* Problema: Contraste insuficiente con el fondo */
    margin: 0;
    width: 100%;
}

/*<a target="_blank" href="https://icons8.com/icon/cax8IlwRNvD0/shuffle">Shuffle</a> icono de <a target="_blank" href="https://icons8.com">Icons8</a>*/
header {
    background-color: #DB222A;
    /* Problema: Falta de contraste con el texto */
    padding: 10px;

    width: 100%;
    margin-top: 0%;
    color: white;
}

#enlaceHeader {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo {

    margin-right: 5px;
}

#textoTitulo {
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
}

nav {

    height: 50px;

    width: 100%;

}

nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

nav li {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 15px 30px;
}

nav li:hover {
    background-color: #032941;
}

nav a {
    text-decoration: none;
    color: white;
    /* Problema: Color sin consideración de accesibilidad */
}

main section {
    margin: 20px;
    padding: 20px;
    border: 2px groove white;
    border-radius: 5px;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    /* Problema: Uso de bordes poco visibles */
}

form label {

    place-self: start;
    margin-bottom: 5px;
    color: #010f18;
}

form input,
form textarea {
    width: 100%;
    /* Problema: Aplicado sin considerar el contexto */
    margin-bottom: 10px;
    align-self: start;
    border-radius: 5px;
    border-style: groove;
    border-width: 1px;
}

form input {
    height: 30px;
}

form {
    margin-left: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form label {

    text-align: center;
    font-weight: bold;
}

#contFormulario {
    justify-self: center;
    display: flex;
    flex-direction: row;
    background-color: #BFDBF7;
    padding: 15px;
    border-radius: 10px;

}

#bloqueFormulario h2 {
    color: white;
    text-align: center;
}

/*https://coolors.co/a31621-bfdbf7-053c5e-1f7a8c-db222a*/
button {
    background-color: #053C5E;
    /* Problema: Color de botón que no resalta suficientemente */
    color: white;
    border: none;

    padding: 10px 15px;
    cursor: pointer;
    width: 100px;
    place-self: center;
    border-radius: 5px;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {

    background-color: #02253a;
}

footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 0%;
    width: 100%;

    /* Problema: Color similar al texto del pie de página */
    font-size: 0.8em;
    color: white;
}

#foto1 {

    width: 300px;
    border-radius: 5px;
}

#servicios {

    background-color: #A31621;
    color: white;
}

#info {
    display: flex;
    
    color: white;
    background-color: #A31621;
}
#info a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#fotoLocal {
    height: 200px;
margin-left: auto;
    border-radius: 5px;
}